# Build outputs 
**/bin/
**/obj/
.vs/

# IDE
.idea/

# Uploads / user content
WebApp/wwwroot/uploads/
**/wwwroot/uploads/


# Local settings / secrets
appsettings.Development.json

# Node
node_modules/
**/node_modules/

# OS
.DS_Store
Thumbs.db

*.DotSettings.user